[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
pytest = "==5.0.1"
jsondesign = {editable = true, path = "."}
"autopep8" = "*"

[packages]
jsonschema = "*"
jsonref = "*"

[requires]
python_version = "3.7"
