[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
pytest = "==5.0.1"
jsondesign = {path = ".",editable = true}
"autopep8" = "*"
pytest-cov = "*"
coveralls = "*"
pipenv-setup = "*"
bumpversion = "*"
twine = "*"

[packages]
jsonschema = "*"
jsonref = "*"

[requires]
python_version = "3.7"
